body {
    font-family: "Nunito", Helvetica;
}

img.bg-white.mr-2 {
    top: 6px !important;
    height: 90% !important;
    object-fit: cover;
}

header .header {
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    transition: all 0.3s ease 0s !important;
}

header .header {
    box-shadow: none;
    border-radius: 0px 0px 20px 20px !important;
    top: -15px;
    height: 110px;
    margin-top: 16px !important;
}

div#notification-scroll {
    display: none;
}

section#banner-homepage {
    height: 490px;
    padding-top: 143px;
}

.headerMenuScrolled {
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    top: -71px !important;
}


/* banner-blog.......... */

.content-banner-blog {
    cursor: pointer;
}

section#banner-homepage {
    height: 582px;
}

.owl-carousel-blog.owl-theme.owl-loaded.owl-drag .owl-dots {
    transform: rotate( 90deg);
    position: absolute;
    left: 70px;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
    height: 490px !important;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    height: 490px !important;
}

.content-banner-blog p {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
    color: var(--darkest);
}

.content-banner-blog h1 {
    font-family: Permanent Marker;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0px;
}

.content-banner-blog button {
    background: var(--red);
    color: #ffffff;
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid var(--red);
    border-radius: 10px;
    padding: 7px 20px;
}

.item-banner-blog img {
    height: 458px;
    object-fit: cover;
    border-radius: 40px;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag>.owl-dots {
    margin-top: -135px;
}

.contact-network-banner {
    position: absolute;
    z-index: 999;
}

.contact-network-banner ul {
    list-style: none;
}

.contact-network-banner ul li a {
    text-decoration: none;
    color: var(--dark);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 24px; */
    letter-spacing: 0em;
    text-align: left;
}

.contact-network-banner ul li a:hover {
    color: var(--darkest);
    transition: all 0.25s;
}

.contact-network-banner ul li {
    transform: rotate(270deg);
    margin: 67px 0px;
}


/* ..................... */


/* sider-bar..................... */

ul.menu-categories {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    border: 1px solid #DFD8D2;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    margin: 20px 0px 10px 0px;
    -khtml-user-select: none;
}

ul.menu-categories li {
    position: relative;
    display: table;
    border-bottom: 0.5px solid #DFD8D2;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 10px;
    padding-bottom: 10px;
}

ul.menu-categories li:last-child {
    border-bottom: 0;
}

.menu-categories.showBrands {
    border-color: white;
    height: 0;
}

.menu-categories .quantity {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 14px;
    color: var(--dark);
    font-weight: normal;
}

ul.menu-categoriess li label {
    font-size: 14px;
    white-space: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: table-cell;
    cursor: pointer;
    position: relative;
    padding: 0.3125rem 0;
}

.menu-categories .checkbox>span {
    color: black;
    padding: 0rem 1rem;
}

.menu-categories .checkbox>input {
    margin-top: 0.3rem;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #EFEAE4;
    border-radius: 2px;
    cursor: pointer;
}

.menu-categories .checkbox>input:checked {
    background-color: #ffffff;
}

.menu-categories .checkbox>input:checked+span::before {
    content: '\1F795';
    display: block;
    text-align: center;
    color: var(--red);
    position: absolute;
    left: -0.1rem;
    top: 0.05rem;
    font-size: 21px;
}

.menu-categories .checkbox>input:checked+span {
    color: var(--red);
}

.dropdownTags>p {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownTags .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.dropdownTags {
    position: relative;
    cursor: pointer;
}

.colorChange {
    color: #3A342E;
}

.dropdownCate i,
.dropdownColor i,
.dropdownSize i,
.dropdownMaterials i,
.dropdownPrice i,
.dropdownBrands i,
.dropdownTags i {
    position: absolute;
    right: 0%;
    top: 35%;
}

.dropdownCate {
    position: relative;
    cursor: pointer;
    margin-top: 46px;
}

.dropdownCate .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.dropdownTags .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

ul.menu-tags {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    display: block;
}

ul.menu-tags li {
    margin-right: 0.625rem;
    line-height: 1.4em;
}

ul.menu-tags li:first-child {
    margin-top: 1rem;
}

.shopContent .menu-tags.showTags {
    height: 0;
    padding-top: 0.6rem;
}

ul.menu-tags li {
    position: relative;
    color: #3A342E;
    display: inline-block;
    margin-top: 20px;
}

ul.menu-tags li label span {
    color: var(--red);
}

ul.menu-tags li label {
    font-size: 14px;
    background-color: var(--light);
    color: var(--darkest);
    /* border: 1px solid var(--red); */
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--font-family-nunito);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}

ul.menu-tags li label {
    padding: 6px 9px 6px 9px;
    cursor: pointer;
    border-radius: 4px;
}

ul.menu-tags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "";
    transition: transform .3s ease-in-out;
}

ul.menu-tags li input[type="checkbox"]:checked+label {
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #ffffff;
    transition: all .2s;
}

ul.menu-tags li input[type="checkbox"] {
    display: absolute;
}

ul.menu-tags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.dropdownColor {
    padding-top: 15px;
    font-size: 14px;
    margin: 0 auto;
    color: #3A342E;
    cursor: pointer;
}


/* ...................blog............................ */

div#blog-homepage {
    padding: 15px;
}

div#blog-homepage img {
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.25s;
}

div#blog-homepage img:hover {
    transform: scale(1.05);
    transition: all 0.25s;
    opacity: 0.9;
    /* border-radius: 20px; */
}

div#blog-homepage .blogTitle {
    margin: 10px 0px 5px 0px;
}

div#blog-homepage .blogTitle a {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: var(--darkest);
    transition: all 0.25s;
}

div#blog-homepage .blogTitle:hover a {
    color: var(--red);
}

div#blog-homepage span {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark);
}

p.blogTitle2.position-absolute {
    bottom: 45px;
    left: 56px;
    width: 80%;
}

p.blogTitle2.position-absolute a {
    line-height: 79px;
    text-decoration: none;
}

p.blogTitle2.position-absolute span {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

span.dec-20-2020-q67tAI i {
    font-size: 4px;
}


/* ...................................................... */

.flash-sale .count-down {
    background-color: rgba(199, 194, 188, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flash-sale .count-down .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 550px;
}

.flash-sale .count-down .title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.flash-sale .count-down .des {
    font-size: 36px;
}

.flash-sale .count-down .time {
    font-size: 120px;
    color: #D60A2E;
    font-weight: 600;
}

.blog-C61RwL .image {
    background-size: cover;
}

.blog-C61RwL .blogs-list .item:not(:last-child) {
    margin-bottom: 1rem;
}

.blog-C61RwL .blogs-list .image {
    padding-top: 56.25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.blog-C61RwL .blogs-list .title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    margin-bottom: .5rem;
    margin-top: 0;
}

.blog-C61RwL .blogs-list .subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;
}

.blog-C61RwL .blogs-list .time {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #C7C2BC;
    margin: 0;
    font-size: .75rem;
}

.banner .title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-family: Permanent Marker;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
}

a.btn.bg-main.text-white.rounded-0.d-flex.align-items-center.px-4 {
    background: var(--red);
}

.banner .tag {
    font-size: 2rem;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.banner .action a {
    font-size: 1rem;
    display: inline-block;
}

.banner .owl-dots {
    width: 0px;
    /* width: 100%; */
    /* bottom: 100px; */
    /* position: absolute; */
    position: absolute;
    right: 121px;
    top: 305px;
}

.banner .owl-dots .owl-dot span {
    background-color: inherit !important;
    border: 1px solid #a1a1a1;
}

.banner .owl-dots .active span {
    margin: 6px !important;
    background-color: #F65E61 !important;
    border: 1px solid #F65E61;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px !important;
    height: 8px !important;
}

button.owl-dot {
    margin: 13px !important;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    /* text-align: right !important; */
    -webkit-tap-highlight-color: transparent;
}

.banner button.owl-dot.active {
    margin: 0px 14px;
}

.banner button.owl-dot {
    margin: 0px 14px;
}

.banner .owl-dots .active {
    border: 1px solid #f65e61;
    border-radius: 30px;
}

.banner .owl-dots button {
    outline: none;
}

.products-list .item {
    position: relative;
}

.products-list .item:hover .action {
    opacity: 1;
}

.products-list .item .action {
    -webkit-transition: .3s;
    transition: .3s;
    background-color: rgba(199, 194, 188, 0.5);
    opacity: 0;
    z-index: 2;
}

.products-list .item .action button {
    min-width: 130px;
}

.products-list .item .action .add-to-cart {
    border: 1px solid #D60A2E;
    color: #D60A2E;
    margin-bottom: 1rem;
}

.products-list .item .image {
    background-size: contain;
    padding-top: 100%;
}

.products-list .item a {
    color: #D60A2E;
    text-decoration: none;
}

.products-list .item .name {
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-list .item .tags {
    position: absolute;
    top: 0;
}

.products-list .item .tags span {
    margin-top: 2px;
    margin-left: 2px;
    background-color: #D60A2E;
    color: white;
    padding: 2px 4px;
    font-size: 12px;
}

.products-list .item .rate {
    color: #C7C2BC;
    font-size: 12px;
}

.products-list .item .promo-price {
    text-decoration: line-through;
    color: #C7C2BC;
    margin: 0;
}

.products-list .item .price {
    color: #D60A2E;
}

.categories .image {
    padding-top: 112%;
    background-size: cover;
}

.categories .image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    left: 0;
    content: " ";
}

.flash-sale .count-down {
    background-color: rgba(199, 194, 188, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flash-sale .count-down .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 550px;
}

.flash-sale .count-down .title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.flash-sale .count-down .des {
    font-size: 36px;
}

.flash-sale .count-down .time {
    font-size: 120px;
    color: #D60A2E;
    font-weight: 600;
}

.blog-C61RwL .image {
    background-size: cover;
}

.blog-C61RwL .blogs-list .item:not(:last-child) {
    margin-bottom: 1rem;
}

.blog-C61RwL .blogs-list .image {
    padding-top: 56.25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.blog-C61RwL .blogs-list .title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    margin-bottom: .5rem;
}

.blog-C61RwL .blogs-list .subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;
}

.blog-C61RwL .blogs-list .time {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #C7C2BC;
    margin: 0;
    font-size: .75rem;
}

.blog-item-load button {
    color: var(--red);
    border: 1px solid var( --red);
    background: #ffffff;
    padding: 9px 15px;
    border-radius: 4px;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.25s;
    cursor: pointer;
}

.blog-item-load button:hover {
    color: #ffffff;
    background: var(--red);
}

@media (max-width:992px) {
    .banner .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .banner .tag {
        font-size: 1rem;
    }
    .banner .action a {
        font-size: .75rem;
    }
    section#banner-homepage {
        /* margin-top: 153px; */
    }
    section#banner-homepage .container .item img {
        border-radius: 40px;
    }
    .content-banner-blog h1 {
        font-family: Permanent Marker;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        margin: 10px 0px;
    }
    .content-banner-blog button {
        background: var(--red);
        color: #ffffff;
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        border: 1px solid var(--red);
        border-radius: 10px;
        padding: 7px 14px;
    }
    .contact-network-banner {
        position: absolute;
        z-index: 999;
        display: none;
    }
}