body {
    font-family: "Nunito", Helvetica;
}

img.bg-white.mr-2 {
    top: 6px !important;
    height: 90% !important;
    object-fit: cover;
}

header .header {
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    transition: all 0.3s ease 0s !important;
}

header .header {
    box-shadow: none;
    border-radius: 0px 0px 20px 20px !important;
    top: -15px;
    height: 110px;
    margin-top: 16px !important;
}

div#notification-scroll {
    display: none;
}

.headerMenuScrolled {
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    top: -71px !important;
}


/* ............................ */

.map-address ul li {
    margin: 10px;
}

.map-address {
    background-image: url(../img/map-contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 522px;
    width: 100%;
    position: relative;
    border-radius: 40px;
}

.map-address ul {
    width: 62%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    font-family: 'Nunito';
    border-radius: 20px;
    bottom: 29px;
    left: 33px;
}

.map-address li {
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 27px;
}

.ibox ::placeholder {
    color: var(--dark);
}

.ibox {
    border-radius: inherit;
}

.ibox h4 {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    font-family: Permanent Marker;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkest);
}

.ibox .form-control {
    border-radius: 0;
    padding: .438rem 0.75rem;
}

.ibox .form-group {
    margin-bottom: 0.5rem;
}

.ibox .btn {
    font-weight: 600;
    font-size: 14px;
    padding: 0.844rem 1.41rem;
    border-radius: 0;
    background: var(--red);
    color: #FFF;
    text-transform: uppercase;
    margin-top: 2.7rem;
    float: right;
    font-family: 'Nunito';
    border-radius: 10px;
}

.ibox .btn:hover {
    background: var(--dark);
}

.form-group input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #a1a1a1;
    font-family: 'Nunito';
}

.form-group textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: 'Nunito';
}

form.mt-4 {
    width: 80%;
    margin: auto;
}

input:focus {
    border: 1px solid var(--red);
    box-shadow: 0px 0px 1px var(--red);
}

textarea:focus {
    border: 1px solid var(--red);
    box-shadow: 0px 0px 1px var(--red);
}

input[type="name"]::placeholder {
    color: #a1a1a1;
}

input[type="email"]::placeholder {
    color: #a1a1a1;
}

input[type="number"]::placeholder {
    color: #a1a1a1;
}

textarea {
    border: 1px solid #a1a1a1;
}

.form-group textarea::placeholder {
    color: #a1a1a1;
}

@media screen and (max-width:1024px) {
    .map-address {
        width: 100% !important;
    }
}