.cursor-pointer {
    cursor: pointer;
}

.circle-menu .fas.fa-circle {
    position: absolute;
    bottom: 28px;
}

i.d-xl-none.bx.bx-menu-alt-right {
    margin-top: 43px !important;
}

.drawer.active {
    left: 0px;
}

.drawer.active div[drawer-close=""] {
    display: block;
}

.drawer.active i[drawer-open] {
    visibility: hidden;
}

.drawer {
    z-index: 99;
    position: fixed;
    width: 80vw;
    top: 0px;
    left: -100%;
    font-size: 12pt;
    height: 100vh;
    transition: all 0.2s ease 0s;
}

.drawer [drawer-content=""] {
    z-index: 2;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.drawer [drawer-content=""] [menu=""] {
    padding: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: scroll;
}

.drawer [drawer-header=""] {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.drawer [drawer-header=""] a {
    color: black;
    text-decoration: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: flex-end;
    display: flex;
}

.drawer [drawer-header=""] a span {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 8px;
}

.drawer [drawer-footer=""] {
    padding: 2rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.drawer [drawer-footer=""] a {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    color: black;
}

.drawer [drawer-footer=""] a i {
    font-size: 24px;
}

.drawer [menu-item] {
    color: black;
    padding: 1rem;
}

.drawer [menu-item] a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: black;
    font-size: 16px;
    margin-right: 16px;
}

.drawer [menu-item] a i {
    margin-right: 12px;
    font-size: 24px;
}

.drawer [menu-item] [menu-item-text] {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease 0s;
    padding: 0px 1rem;
    margin: 0px;
    min-height: 36pt;
    border-radius: 0px;
    background: none;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    width: 100%;
}

.drawer [menu-item] [menu-item-text] span {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: left;
}

.drawer [menu-item] [menu-item-text]:hover {
    font-weight: bold;
}

.drawer [menu-item].active>[menu-item-text] {
    font-weight: bold;
    color: white;
}

.drawer [menu-item].active>[menu-item-text] i {
    color: white;
}

.drawer [menu-item]>[menu-child] {
    padding: 0px;
}

.drawer [menu-item].active>[menu-child] {
    display: block;
}

.drawer [menu-item].active>[menu-child] [menu-item-text] {
    padding-left: 2rem !important;
}

.drawer [menu-item].active>[menu-child]>[menu-item].active>[menu-child] [menu-item-text] {
    padding-left: 3rem !important;
}

.drawer [menu-item].active>[menu-item-text] {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: revert !important;
}

.drawer [drawer-icon-left] i {
    display: block;
    text-align: center;
}

.drawer [drawer-icon-right] i {
    display: block;
    padding-right: 1rem;
}

.drawer [drawer-icon-right] [menu-item] [menu-item-text] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    text-align: right;
}

.drawer [menu-child] {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    transition: all 0.2s ease 0s;
    display: none;
}

.drawer [drawer-close] {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100vw;
    z-index: 1;
    left: 0px;
    top: 0px;
    padding: 13px;
}

.drawer .child {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    z-index: 99;
    padding: 65px 0px;
}

.drawer .search-input {
    position: relative;
}

.drawer .search-input input {
    width: 75%;
    height: 50px;
    outline: none;
    border-radius: 20px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(221, 221, 221) 1px 1px 2px;
}

.drawer .search-input i {
    position: absolute;
    top: 14px;
    margin-left: 12px;
    font-size: 22px;
    color: var(--red);
}

.drawer .search-result {
    width: 80%;
    margin: auto;
    text-align: left;
}

.drawer .search-result li {
    margin-left: 39px;
    margin-top: 20px;
}

.drawer .search-result li a {
    color: var(--darkest);
}

.delete-search-drawer {
    position: relative;
}

.delete-search-drawer i {
    position: absolute;
    top: -46px;
    right: 22px;
    font-size: 32px;
    color: var(--dark);
    cursor: pointer;
}

.drawer .child {
    display: none;
}

.footer-C61RwL .logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.footer-C61RwL .logo img {
    height: 70px;
}

img.bg-white.mr-2 {
    position: absolute;
    top: 40px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    transition: all 0.3s ease 0s;
}

#header-menu-scroll:hover img.bg-white.mr-2 {
    top: 6px;
    height: 90%;
    object-fit: cover;
}

img.bg-white.mr-2.headerMenuScrolledLogo {
    top: 6px !important;
    height: 90% !important;
    object-fit: cover !important;
    transition: all 0s ease 0s !important;
}

.header-nameshop h1 a {
    font-family: Playfair Display;
    font-size: 53px;
    color: var(--gold);
}

.header-nameshop p a {
    text-transform: uppercase;
    color: var(--xanh);
}

.header-nameshop {
    padding-top: 15px;
    line-height: 29px;
    padding-left: 39px;
}

.footer-C61RwL .pages li {
    margin-bottom: 10px;
}

.footer-C61RwL .pages li a {
    color: black;
}

.footer-C61RwL .form .input-email::-webkit-input-placeholder {
    color: rgb(230, 227, 222);
}

.footer-C61RwL .form .input-email::placeholder {
    color: rgb(230, 227, 222);
}

.footer-C61RwL .form .input-email {
    outline: none;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(230, 227, 222);
}

.footer-C61RwL .contact li {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-bottom: 12px;
}

.footer-C61RwL ul {
    list-style: none;
}

header {
    position: sticky;
    top: 0px;
}

header .logo {
    font-weight: 600;
    padding: 1rem 0px;
    font-size: 1rem;
    line-height: 1rem;
    color: black;
    text-decoration: none;
}

header .notification {
    background-color: rgb(214, 10, 46);
    text-align: center;
    color: white;
    padding: 0.75rem;
    font-size: 0.75rem;
    border-radius: 0px 0px 10px 10px;
}

.contactnumberphone.valign-text-middle {
    font-size: 13px;
    line-height: 21px;
}

.contact\@good-clothing.valign-text-middle {
    font-size: 13px;
    margin-left: 30px;
}

.col-xl-4.d-none.d-xl-flex.justify-content-center {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

header .notification a {
    color: white;
    text-decoration: none;
}

header .header {
    position: relative;
    border-radius: 0px;
}

header .header .menu .item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 1rem 0px;
    min-width: 120px;
}

header .header .menu .item>a {
    color: black;
    text-decoration: none;
}

header .header .menu .item>a i {
    font-size: 1.5rem;
}

header .header .menu .item>a:hover {
    color: rgb(214, 10, 46);
}

.footer-C61RwL .logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.footer-C61RwL .logo img {
    height: 70px;
}

.footer-C61RwL .pages li {
    margin-bottom: 10px;
}

.footer-C61RwL .pages li a {
    color: black;
}

.footer-C61RwL .form .input-email::-webkit-input-placeholder {
    color: rgb(230, 227, 222);
}

.footer-C61RwL .form .input-email::placeholder {
    color: rgb(230, 227, 222);
}

.footer-C61RwL .form .input-email {
    outline: none;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(230, 227, 222);
}

.footer-C61RwL .contact li {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.footer-C61RwL ul {
    list-style: none;
}

.footer-C61RwL .social a {
    padding: 0px 10px;
}

.products-list .item {
    position: relative;
}

.products-list .item:hover .action {
    opacity: 1;
}

.products-list .item .action {
    transition: all 0.3s ease 0s;
    background-color: rgba(199, 194, 188, 0.5);
    opacity: 0;
    z-index: 2;
}

.products-list .item .action button {
    min-width: 130px;
}

.products-list .item .action .add-to-cart {
    border: 1px solid rgb(214, 10, 46);
    color: rgb(214, 10, 46);
    margin-bottom: 1rem;
}

.products-list .item .image {
    background-size: contain;
    padding-top: 100%;
}

.products-list .item a {
    color: rgb(214, 10, 46);
    text-decoration: none;
}

.products-list .item .name {
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-list .item .tags {
    position: absolute;
    top: 0px;
}

.products-list .item .tags span {
    margin-top: 2px;
    margin-left: 2px;
    background-color: rgb(214, 10, 46);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
}

.products-list .item .rate {
    color: rgb(199, 194, 188);
    font-size: 12px;
}

.products-list .item .promo-price {
    text-decoration: line-through;
    color: rgb(199, 194, 188);
    margin: 0px;
}

.products-list .item .price {
    color: rgb(214, 10, 46);
}

@media (min-width: 1px) {
    footer.footer-C61RwL {
        background: var(--red);
    }
    footer.footer-C61RwL .container {
        text-align: center;
        background: var(--red);
    }
    .footer-C61RwL .logo {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: black;
        text-decoration: none;
    }
    footer.footer-C61RwL .footer-logo {
        border-radius: 50%;
        height: 140px;
        width: 140px;
        object-fit: cover;
        object-position: -7px center;
        position: absolute;
        top: -119px;
        margin: auto;
        left: 0px;
        right: 0px;
    }
    .footer-C61RwL .logo img {
        height: 70px;
    }
    footer.footer-C61Rwl .footer-logo .form p {
        font-family: "Permanent Marker";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
    }
    footer.footer-C61RwL .form p {
        font-family: "Permanent Marker";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        color: rgb(255, 255, 255);
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 50px;
    }
    footer.footer-C61RwL .form button {
        color: var(--red);
        background: rgb(255, 255, 255);
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }
    footer.footer-C61RwL .form input {
        outline: lightskyblue;
    }
    ul.contact.p-0 {
        color: rgb(255, 255, 255);
    }
    ul.contact.p-0 li i {
        color: rgb(255, 255, 255);
    }
    .form .d-flex {
        margin: 17px 0px 38px;
    }
    .row.contact-footer h2 {
        font-family: "Permanent Marker";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        margin: 20px 0px;
        color: rgb(255, 255, 255);
    }
    .contact-network a {
        margin: 10px;
    }
    .contact-network a i:hover {
        box-shadow: black 2px 2px 10px;
    }
    .contact-network a i {
        color: rgb(255, 255, 255);
        border: 1px solid transparent;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        padding: 16px 0px;
    }
    .contact-network .network-face i {
        background: var(--blue);
    }
    .contact-network .network-youtube i {
        background: var(--red);
    }
    .contact-network .network-instagram i {
        background: var(--yellow);
    }
    .contact-network .network-twitter i {
        background: var(--dark);
    }
    footer.footer-C61RwL {
        margin-top: 100px;
    }
    .footer-C61RwL .pages li {
        margin-bottom: 10px;
    }
    .footer-C61RwL .pages li a {
        color: rgb(255, 255, 255);
    }
    .footer-C61RwL .form .input-email::-webkit-input-placeholder {
        color: rgb(230, 227, 222);
    }
    .footer-C61RwL .form .input-email::placeholder {
        color: rgb(230, 227, 222);
    }
    .footer-C61RwL .form .input-email {
        outline: none;
        padding: 0.5rem 1rem;
        border: 1px solid rgb(230, 227, 222);
    }
    .footer-C61RwL .contact li {
        display: flex;
        -webkit-box-align: start;
        align-items: flex-start;
        margin-bottom: 24px;
        text-align: left;
    }
    .footer-C61RwL .contact i {
        margin-top: 4px;
        margin-right: 10px;
    }
    .footer-C61RwL ul {
        list-style: none;
    }
    .footer-C61RwL .social a {
        padding: 0px 10px;
    }
    .footer-C61RwL .social a i {
        color: white;
    }
    .foooter-reserved {
        font-family: Nunito;
        font-size: 11px;
        font-weight: 400;
        line-height: 21px;
        color: rgb(255, 255, 255);
        margin: 20px 0px;
    }
    header#header-scroll {
        position: absolute;
        transition: all 0.5s ease 0s;
    }
    header#header-scroll .position-relative {
        height: 100%;
        position: relative !important;
    }
    header.headerScrolled {
        position: fixed !important;
        opacity: 1 !important;
        z-index: 9999 !important;
        transition: all 0.5s ease 0s !important;
        top: 0px;
    }
    div#notification-scroll {
        visibility: visible;
    }
    header .logo {
        font-weight: 600;
        padding: 1rem 0px;
        font-size: 1rem;
        line-height: 1rem;
        color: black;
        text-decoration: none;
    }
    header .notification {
        background-color: var(--red);
        font-size: 1rem;
        text-align: center;
        color: white;
        border-radius: 0px 0px 20px 20px;
        height: 40px;
    }
    header .notification a {
        color: white;
        text-decoration: none;
    }
    header .header {
        box-shadow: none;
        border-radius: 0px;
        top: 0px;
        height: 110px;
        border: 1px solid #e7e7e7;
    }
    .headerMenuScrolled {
        top: -110px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px !important;
    }
    header .header:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        transition: all 0.3s ease 0s;
    }
    header .header .menu .item {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 1rem 0px;
        min-width: 120px;
    }
    header .header .menu .item>a {
        color: black;
        text-decoration: none;
    }
    header .header .menu .item>a i.fas.fa-chevron-down {
        font-size: 0.75rem;
    }
    header .header .menu .item>a i.fas.fa-circle {
        font-size: 0.35rem;
    }
    header .header .menu .item>a:hover {}
    header .header .line::before {
        content: "";
        border-left: 1px solid rgb(230, 227, 222);
        height: 70%;
        top: 15%;
        position: absolute;
    }
    header .header .deep-menu {
        position: relative;
        height: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .deep-menu.user-menu.login ul.child-user li a {
        text-align: center;
        font-size: 14px;
    }
    .deep-menu.user-menu.login ul.child-user {
        list-style: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        border-radius: 10px;
        padding: 0.5rem 0px;
        transition: all 0.3s ease 0s;
    }
    .deep-menu.user-menu.login:hover .deep-menu.user-menu ul.child-user {
        visibility: visible;
    }
    .deep-menu.user-menu ul.child-user {
        visibility: hidden;
        position: absolute;
        top: 119px;
        border: 1px solid transparent;
        background: rgb(255, 255, 255);
        border-radius: 10px;
    }
    header .header .deep-menu>a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    header .header .deep-menu>a i {
        font-size: 1.5rem;
    }
    header .header .deep-menu>a:hover {
        color: var(--red);
    }
    header .header .deep-menu:hover>ul {
        opacity: 1;
        visibility: visible;
    }
    header .header .deep-menu li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1.5rem;
        position: relative;
    }
    header .header .deep-menu li:hover>.child {
        opacity: 1;
        visibility: visible;
    }
    header .header .deep-menu li:hover>a {
        color: rgb(214, 10, 46);
    }
    header .header .deep-menu li:hover>i {
        color: rgb(214, 10, 46);
    }
    header .header .deep-menu li:hover::after {
        color: rgb(214, 10, 46);
    }
    header .header .deep-menu li>a {
        -webkit-box-flex: 1;
        text-decoration: none;
        color: black;
        flex-grow: 1;
    }
    header .header .deep-menu .child {
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 1px -2px, transparent 0px 0px 0px 0px;
        position: absolute;
        left: calc(96%);
        visibility: hidden;
        opacity: 0;
        background-color: white;
        padding: 5px 0px;
        border-radius: 0px 10px 10px 0px;
        transition: all 0.3s ease 0s;
        list-style: none;
        /* height: 215px; */
        /* bottom: -97px; */
    }
    header .header .deep-menu .child.last {
        position: absolute;
        left: calc(96%);
        visibility: hidden;
        opacity: 0;
        background-color: white;
        padding: 5px 0px;
        border-radius: 0px 10px 10px 0px;
        transition: all 0.3s ease 0s;
        list-style: none;
        height: 215px;
        bottom: -97px;
    }
    .border-bottom.shop {
        width: 80%;
        margin-left: 25px;
        opacity: 0.5;
    }
    header .header .shop-menu>.child {
        transition: all 0.3s ease 0s;
        text-align: left;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: calc(105%);
        left: -646%;
        /* background-color: white; */
        padding: 5px 0px;
        list-style: none;
        border-radius: 10px;
        z-index: 999;
        width: 100vw;
        padding: 7px;
    }
    header .header .shop-menu>.child::before {
        height: 5px;
        width: 100%;
    }
    header .header .shop-menu li {
        min-width: 250px;
        max-width: 300px;
    }
    header .header .user-menu>.child {
        transition: all 0.3s ease 0s;
        text-align: left;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: calc(105%);
        left: 0px;
        background-color: white;
        padding: 5px 0px;
        list-style: none;
        border-radius: 10px;
    }
    header .header .user-menu>.child::before {
        height: 5px;
        width: 100%;
    }
    header .header .user-menu li {
        min-width: 150px;
        max-width: 200px;
    }
    header .header .cart-menu {
        position: relative;
        height: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    header .header .cart-menu a {
        color: black;
        text-decoration: none;
    }
    header .header .cart-menu a:hover {
        color: rgb(214, 10, 46);
    }
    header .header .cart-menu:hover .cart {
        opacity: 1;
        visibility: visible;
    }
    header .header .cart-menu .cart {
        width: 500px;
        position: absolute;
        transition: all 0.3s ease 0s;
        opacity: 0;
        right: -189px;
        visibility: hidden;
        top: calc(100% + 7px);
        color: black;
        z-index: 999;
    }
    header .header .cart-menu .cart a {
        color: black;
    }
    header .header .cart-menu .cart .container {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        border-radius: 10px;
    }
    .container.header.bg-white .row {
        height: 110px;
    }
    header .header .cart-menu .cart .lists {
        max-height: 70vh;
        background: rgb(255, 255, 255);
    }
    header .header .cart-menu .cart .item {
        padding: 1rem;
    }
    header .header .cart-menu .cart .checkout {
        background-color: rgb(255, 255, 255);
    }
    header .header .cart-menu .currency:hover {
        color: rgb(214, 10, 46);
    }
    header .header .cart-menu .currency:hover a,
    header .header .cart-menu .currency:hover i {
        color: rgb(214, 10, 46);
    }
    header .header .cart-menu .currency a {
        color: black;
        text-decoration: none;
    }
    td.border-0.check-price {
        position: absolute;
        right: 0px;
    }
    .cart-menu table.table {
        font-weight: 700;
    }
    button#cart-menu-checkout {
        outline: none;
        background: var(--red);
        border: 1px solid var(--red);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 17px;
        padding: 10px 15px;
        border-radius: 10px;
        font-family: Nunito;
        margin: 15px 0px;
        transition: all 0.25s ease 0s;
        cursor: pointer;
    }
    button#cart-menu-checkout:hover {
        background: rgb(255, 255, 255);
        color: var(--red);
    }
    header .header .search-menu {
        height: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .search-menu ul.search-result {
        text-align: left;
    }
    ul.search-result .border-bottom {
        width: 80%;
        margin-left: 39px;
    }
    header .header .search-menu:hover .child {
        opacity: 1;
        visibility: visible;
    }
    header .header .search-menu>a {
        color: black;
        text-decoration: none;
    }
    header .header .search-menu>a:hover {
        color: rgb(214, 10, 46);
    }
    header .header .search-menu .child {
        position: absolute;
        transition: all 0.3s ease 0s;
        opacity: 1;
        visibility: visible;
        /* left: -177px; */
        top: 0px;
        color: var(--darkest);
        background: rgb(255, 255, 255);
        /* border-radius: 20px; */
        /* width: 23rem; */
        width: 100vw;
        z-index: 1000;
        right: -88px;
    }
    header .header .search-menu .child .search-input {
        /* box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; */
        background-color: white;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        /* border-radius: 20px; */
        padding: 18px 0px;
        z-index: 99;
        width: 50%;
        border-bottom: 1px solid #585858;
        margin: auto;
        position: relative;
    }
    header .header .search-menu .child .search-input i {
        text-align: center;
        width: 56px;
        color: var(--dark);
        font-size: 20px;
    }
    header .header .search-menu .child .search-input input {
        width: 100%;
        outline: none;
        padding: 0px;
        border: none;
    }
    header .header .search-menu .child ul {
        border-radius: 20px;
        padding: 0.5rem 0px;
        margin-top: 1px;
    }
    header .header .search-menu .child ul li {
        padding: 0.5rem 40px;
    }
    header .header .search-menu .child ul li a {
        color: black;
    }
    div#header-search {
        position: absolute;
        top: 0;
        /* left: 0; */
        width: 100vw;
        background: #ffffff;
        z-index: 1000;
        right: -80px;
        padding: 32px 0px 70px 0px;
        box-shadow: 2px 2px 20px #c2c2c2;
    }
    .header-search-item {
        width: 60%;
        margin: auto;
    }
    .header-search-item input {
        border: none;
        border-bottom: 1px solid #585858;
        width: 100%;
        padding: 10px 0px;
        background-image: url("../img/search-icon.png");
        background-repeat: no-repeat;
        background-position: right;
        outline: none;
    }
    .header-search-list {
        width: 30%;
        background: #ffffff;
        position: absolute;
        margin-top: 10px;
        box-shadow: 14px 14px 23px #bebebe;
        display: none;
    }
    .header-search-list ul li {
        padding: 13px 0px;
        margin: 0px 32px;
        border-bottom: 1px solid #ddd;
    }
    .header-search-list ul li a {
        color: #192b11;
    }
    .typing_input {
        font-family: Playfair Display;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
        margin: 50px 0px;
        color: var(--xanh);
    }
    .header-search-item i.bi.bi-x {
        position: absolute;
        top: 27px;
        right: 63px;
        font-size: 29px;
        color: var(--xanh);
    }
    header .header .currency-menu {
        margin-top: -2px;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
    }
    header .header .currency-menu>.child {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        transition: all 0.3s ease 0s;
        text-align: left;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        right: 0px;
        top: calc(105%);
        left: inherit;
        background-color: white;
        padding: 5px 0px;
        list-style: none;
        border-radius: 10px;
    }
    header .header .currency-menu>.child::before {
        height: 5px;
        width: 100%;
    }
    header .header .currency-menu li {
        min-width: 190px;
    }
    header .header .currency-menu a {
        text-align: center;
    }
}