* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

.banner .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.banner .tag {
    font-size: 1rem;
}

.banner .action a {
    font-size: .75rem;
}

section#banner-homepage {
    margin-top: 110px;
}

section#banner-homepage .container .item img {
    border-radius: 40px;
}

section#banner-homepage b {
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

section#banner-homepage h1 {
    font-family: Playfair Display;
    font-size: 81px;
    font-style: normal;
    font-weight: 700;
    line-height: 108px;
    letter-spacing: 0em;
    text-align: left;
}

section#banner-homepage p {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 28px;
}

#banner-homepage .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -55px !important;
}

.arrow-button-img {
    background: var(--gold);
    color: #ffffff;
    /* width: 83px; */
    /* color: black; */
    position: absolute;
    bottom: 15px;
    right: 0;
    border: 1px solid var(--gold);
    font-size: 37px;
    cursor: pointer;
    padding: 30px 26px;
    transition: all 0.25s;
}

.arrow-button-img:hover {
    background: #ffffff;
    color: var(--gold);
}

.contact-network-banner {
    z-index: 0;
    /* left: 30px; */
    /* top: 64px; */
    margin-top: 41px;
}

.item-owl-banner img {
    height: 600px;
    object-fit: cover;
}

ul.contact-network-banner {
    width: 100%;
    display: block;
}

ul.contact-network-banner li {
    margin: 20px 43px;
}

.contact-network-banner ul {
    list-style: none;
}

.contact-network-banner ul li a {
    text-decoration: none;
    color: var(--dark);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 24px; */
    letter-spacing: 0em;
    text-align: left;
}

.contact-network-banner ul li a:hover {
    color: var(--darkest);
    transition: all 0.25s;
}

.contact-network-banner .rotate-banner {
    transform: rotate(270deg);
    margin: 80px 0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.owl-stage-outer {
    height: 600px;
}

.img-banner02 {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: all 0.25s;
}

.img-banner02:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.info-banner02 {
    width: 60%;
    margin: auto;
    /* align-items: center; */
}

.info-banner02 h2 {
    font-family: Playfair Display;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 151px;
    color: #ffffff;
}

.info-banner02 p {
    line-height: 31px;
    ;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    line-height: 30px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

section#banner-homepage .note-banner {
    background: #ffffff;
    width: 238px;
    height: 172px;
    left: -101px;
    z-index: 99;
    bottom: -81px;
    box-shadow: 48px 33px 60px rgb(32 49 59 / 15%);
    background: #E9EAEB;
    padding: 0 30px;
    color: var(--xanh);
}

section#banner-homepage .note-banner p {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 12px;
}

section#banner-homepage .note-banner.position-absolute img {
    margin-left: 67px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: #ffffff;
    padding: 12px;
    margin-top: -21px;
    border-radius: 50%;
}

@media (min-width:781px) and (max-width:1200px) {
    .contact-network-banner {
        position: absolute;
        z-index: 0;
        left: 0px;
        top: 0px;
    }
}

@media (max-width:780px) {
    .contact-network-banner {
        display: none;
    }
}


/* product */

div#trendingProducts {
    margin: 0px 20px;
    position: relative;
}

.product-item {
    position: relative;
}

div#trendingProducts h2 a {
    font-family: Permanent Marker;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--darkest);
    text-decoration: none;
}

ul.social.nav {
    display: flex;
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
    padding-top: 18px;
    justify-content: space-between;
}

ul.social.nav:hover {
    opacity: 1;
    transition: 0.25s;
}

.img-cart-product:hover .social.nav {
    opacity: 1;
}

ul.child.drop-info-menu .border-bottom {
    margin-left: 23px;
    width: 84%;
}

ul.social.nav li:first-child button {
    color: var(--gold);
    border: 1px solid var(--gold);
    background: #ffffff;
    border-radius: inherit;
    transition: 0.25s;
}

ul.social.nav li:last-child button {
    color: #ffffff;
    background: var(--gold);
    transition: 0.25s;
    border-radius: inherit;
}

ul.social.nav li {
    width: 48%;
}

ul.social.nav li button {
    width: 100%;
    height: 45px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

ul.social.nav li:first-child button:hover {
    color: #ffffff;
    background: #c75959;
    transition: 0.25s;
}

ul.social.nav li:last-child button:hover {
    color: #ffffff;
    border: 1px solid var(--red);
    background: #c75959;
    transition: 0.25s;
}

.product-item .rating span {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #d2d2d2;
}

.product-item .rating {
    display: flex;
    color: var(--gold);
    margin-top: 10px;
    list-style: none;
}

.product-item a h6 {
    margin-top: 10px;
    color: var(--xanh);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

p.item-price span {
    styleName: Content/bold;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--gold);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

p.item-price strike {
    color: #a1a1a1;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 7px;
}

p.item-price {
    margin-top: 10px;
}

.product-item a img {
    height: 470px;
    object-fit: cover;
}

.product-item .tag-product {
    position: absolute;
    display: flex;
    list-style: none;
    top: 0;
    left: 14px;
}

li.tag-product-new a {
    border: 1px solid var(--yellow);
    background: var(--yellow);
    color: #ffffff;
    padding: 1px 3px;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
}

li.tag-product-sale a {
    border: 1px solid var(--blue);
    background: var(--blue);
    color: #ffffff;
    padding: 1px 3px;
    styleName: Content/small-bold;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
}

li.tag-product-out a {
    border: 1px solid var(--xanh);
    background: var(--xanh);
    color: #ffffff;
    padding: 5px 10px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

ul.tag-product li {
    margin: 10px 5px 0px 0px;
}

.product-disabled {
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 386px;
    z-index: 99;
}

.product-disabled-prev span {
    border: 1px solid var(--dark);
    background: var(--dark);
    padding: 15px 15px;
    margin-left: -20px;
    color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.product-disabled-prev span:hover {
    background: #616161;
    color: #ffffff;
}

.product-disabled-next span {
    border: 1px solid var(--red);
    background: var(--red);
    padding: 15px 15px;
    margin-right: -20px;
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.product-disabled-next span:hover {
    background: #920000;
}


/* ......................................................... */


/* ...................homeFeaturedItem............... */

.homeFeaturedItem {
    position: relative;
}

.homeFeaturedItem h2 {
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #ffffff;
}

.homeFeaturedItem:hover .moreHomeFeatured {
    visibility: visible;
    right: 0;
    opacity: 1;
    transition: 0.1s;
    width: 100%;
    height: 100%;
}

.homeFeaturedItem:hover img {
    transform: scale(1.05);
}

.homeFeaturedItem img {
    transition: all 0.25s;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

div#homeFeatured .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    height: 400px;
}

.moreHomeFeatured {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    background: #20313b9e;
    transition: all 0.25s;
}

.moreHomeFeatured button {
    width: 80px;
    height: 80px;
    background: var(--gold);
    cursor: pointer;
    position: absolute;
    border: 1px solid var(--gold);
    bottom: 0;
    right: 0;
    outline: none;
}

.moreHomeFeatured button i {
    font-size: 30px;
    color: #ffffff;
}

.homeFeaturedItem h2 {
    position: absolute;
    top: 34px;
    left: 44px;
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    z-index: 99;
}


/* ..................................... */


/* banner-blog01 */

div#section-collection img {
    object-fit: cover;
}

.collection01 {
    position: relative;
}

.title-collection01 {
    position: absolute;
    top: 44px;
    left: 31px;
    width: 50%;
}

.collection02 {
    position: relative;
}

.title-collection02 {
    position: absolute;
    top: 44px;
    left: 31px;
    width: 50%;
}

.collection03 {
    position: relative;
}

.title-collection03 {
    position: absolute;
    left: 31px;
    width: 82%;
    bottom: 37px;
}

.collection04 {
    position: relative;
}

.title-collection04 {
    position: absolute;
    top: 320px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.collection03 img {
    object-position: -266px;
}

.title-collection01 h2 a {
    font-family: Permanent Marker;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--darkest);
    text-decoration: none;
}

.title-collection01 p a {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darker);
    text-transform: lowercase;
}

.title-collection02 h2 a {
    font-family: Permanent Marker;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.title-collection02 p a {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-transform: lowercase;
    text-decoration: none;
}

.title-collection03 h2 a {
    font-family: Permanent Marker;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

.title-collection04 p a {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

.title-collection04 h2 a {
    font-family: Permanent Marker;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.title-collection04 button a {
    font-family: Nunito;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    padding: 0px 10px;
}

.title-collection04 button {
    background: var(--red);
    border: none;
    border-radius: 10px;
    margin-top: 38px;
}


/* newProduct */

li.tag-product-new a {
    border: 1px solid var(--gold);
    background: var(--gold);
    color: #ffffff;
    padding: 5px 10px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

div#NewProducts center h2 a {
    text-decoration: none;
    color: var(--xanh);
    font-family: Playfair Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
}

div#NewProducts {
    /* padding: 0px 20px; */
    margin-top: 10rem;
}


/* ................................... */


/* blog home page */

div#blog-homepage h2 {
    font-family: Permanent Marker;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

div#blog-homepage img {
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.25s;
}

div#blog-homepage img:hover {
    transform: scale(1.05);
    transition: all 0.25s;
    opacity: 0.9;
    /* border-radius: 20px; */
}

div#blog-homepage .blogTitle {
    margin: 10px 0px 5px 0px;
}

div#blog-homepage .blogTitle a {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: var(--darkest);
    transition: all 0.25s;
}

div#blog-homepage .blogTitle:hover a {
    color: var(--red);
}

div#blog-homepage span {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark);
}


/* ........................................... */


/* ...................................... */

@media (max-width:1200px) {
    #Panner-homepage-customers .product-disabled {
        width: 100vw;
        justify-content: space-around;
        display: flex;
        position: absolute;
        top: 302px;
        z-index: 99;
        display: none;
    }
    div#Panner-homepage-customers {
        margin: 35px 0px 0px 0px;
    }
    .item-blog-home {
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width:992px) {
    .item-blog-home {
        margin: 10px 0px 10px 0px;
    }
}

@media (min-width: 992px) {
    .flash-sale .count-down {
        background-color: rgba(199, 194, 188, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .flash-sale .count-down .main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 550px;
    }
    .flash-sale .count-down .title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .flash-sale .count-down .des {
        font-size: 36px;
    }
    .flash-sale .count-down .time {
        font-size: 120px;
        color: #D60A2E;
        font-weight: 600;
    }
    .blog-C61RwL .image {
        background-size: cover;
    }
    .blog-C61RwL .blogs-list .item:not(:last-child) {
        margin-bottom: 1rem;
    }
    .blog-C61RwL .blogs-list .image {
        padding-top: 56.25%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .blog-C61RwL .blogs-list .title {
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
        margin-bottom: .5rem;
        margin-top: 0;
    }
    .blog-C61RwL .blogs-list .subtitle {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .75rem;
    }
    .blog-C61RwL .blogs-list .time {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        color: #C7C2BC;
        margin: 0;
        font-size: .75rem;
    }
    .banner .title {
        font-size: 3.5rem;
        margin-bottom: 2rem;
        font-family: Permanent Marker;
        font-style: normal;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
    }
    a.btn.bg-main.text-white.rounded-0.d-flex.align-items-center.px-4 {
        background: var(--red);
    }
    .banner .tag {
        font-size: 2rem;
        font-family: Nunito;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    }
    .banner .action a {
        font-size: 1rem;
        display: inline-block;
    }
    .banner .owl-dots {
        /* width: 0px; */
        /* width: 100%; */
        /* bottom: 100px; */
        /* position: absolute; */
        position: absolute;
        /* right: 121px; */
        /* top: 305px; */
        right: 0;
    }
    .banner .owl-dots .owl-dot span {
        /* background-color: white!important; */
        border: 1px solid transparent;
    }
    .banner .owl-dots .active span {
        margin: 6px !important;
        background-color: var(--gold) !important;
        border: 1px solid var(--gold);
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 12px !important;
        height: 12px !important;
    }
    button.owl-dot {
        margin: 13px !important;
    }
    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        /* text-align: right !important; */
        -webkit-tap-highlight-color: transparent;
    }
    .banner button.owl-dot.active {
        margin: 0px 14px;
    }
    .banner button.owl-dot {
        margin: 0px 14px;
    }
    .banner .owl-dots .active {
        /* border: 1px solid #f65e61; */
        /* border-radius: 30px; */
    }
    .banner .owl-dots button {
        outline: none;
    }
    .products-list .item {
        position: relative;
    }
    .products-list .item:hover .action {
        opacity: 1;
    }
    .products-list .item .action {
        -webkit-transition: .3s;
        transition: .3s;
        background-color: rgba(199, 194, 188, 0.5);
        opacity: 0;
        z-index: 2;
    }
    .products-list .item .action button {
        min-width: 130px;
    }
    .products-list .item .action .add-to-cart {
        border: 1px solid #D60A2E;
        color: #D60A2E;
        margin-bottom: 1rem;
    }
    .products-list .item .image {
        background-size: contain;
        padding-top: 100%;
    }
    .products-list .item a {
        color: #D60A2E;
        text-decoration: none;
    }
    .products-list .item .name {
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .products-list .item .tags {
        position: absolute;
        top: 0;
    }
    .products-list .item .tags span {
        margin-top: 2px;
        margin-left: 2px;
        background-color: #D60A2E;
        color: white;
        padding: 2px 4px;
        font-size: 12px;
    }
    .products-list .item .rate {
        color: #C7C2BC;
        font-size: 12px;
    }
    .products-list .item .promo-price {
        text-decoration: line-through;
        color: #C7C2BC;
        margin: 0;
    }
    .products-list .item .price {
        color: #D60A2E;
    }
    .categories .image {
        padding-top: 112%;
        background-size: cover;
    }
    .categories .image::before {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        top: 0;
        left: 0;
        content: " ";
    }
    .flash-sale .count-down {
        background-color: rgba(199, 194, 188, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .flash-sale .count-down .main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 550px;
    }
    .flash-sale .count-down .title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .flash-sale .count-down .des {
        font-size: 36px;
    }
    .flash-sale .count-down .time {
        font-size: 120px;
        color: #D60A2E;
        font-weight: 600;
    }
    .blog-C61RwL .image {
        background-size: cover;
    }
    .blog-C61RwL .blogs-list .item:not(:last-child) {
        margin-bottom: 1rem;
    }
    .blog-C61RwL .blogs-list .image {
        padding-top: 56.25%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .blog-C61RwL .blogs-list .title {
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
        margin-bottom: .5rem;
    }
    .blog-C61RwL .blogs-list .subtitle {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .75rem;
    }
    .blog-C61RwL .blogs-list .time {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        color: #C7C2BC;
        margin: 0;
        font-size: .75rem;
    }
}