@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,600|Permanent+Marker:400");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Nunito", Helvetica;
}

body {
    font-family: "Nunito", Helvetica;
}

img.bg-white.mr-2 {
    top: 6px !important;
    height: 90% !important;
    object-fit: cover;
}

header .header {
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    transition: all 0.3s ease 0s !important;
}

header .header {
    box-shadow: none;
    border-radius: 0px 0px 20px 20px !important;
    top: -15px;
    height: 110px;
    margin-top: 16px !important;
}

div#notification-scroll {
    display: none;
}

div#product-product-item {
    padding-top: 162px;
}

.headerMenuScrolled {
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px !important;
    top: -71px !important;
}


/* .................... */

div#tabInFo {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 17px;
    text-align: left;
}

div#tabSize {
    margin-top: 26px;
}

ul.reviews-rating {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
}

ul.reviews-rating li {
    margin-right: 6px;
}

.comment p {
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0px 10px 0px;
}

.dropdownSizeê {
    margin: 25px 0px 20px 0px;
}

.dropdownColorr {
    margin: 59px 0px 20px 0px;
}

ul.menu-color {
    list-style: none;
    display: flex;
    margin-left: 41px;
}

ul.menu-color li {
    position: relative;
    margin: 0px 18px 0px 12px;
    right: 51px;
}

ul.menu-color span {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: -8px;
    cursor: pointer;
    top: -8px;
}

.menu-color .checkbox>input:checked+span::before {
    content: "";
    display: block;
    text-align: center;
    color: var(--red);
    position: absolute;
    left: -3.5px;
    top: -3.1px;
    font-size: 21px;
    border: 1px solid var(--red);
    height: 37px;
    border-radius: 50%;
    width: 37px;
}

.rating-info .rating {
    display: flex;
    color: var(--red);
    list-style: none;
    font-size: 18px;
    margin: 10px 0px 27px;
}

.tag-product {
    display: flex;
    list-style: none;
    margin-bottom: 39px;
}

li.tag-product-new a {
    border: 1px solid var(--yellow);
    background: var(--yellow);
    color: rgb(255, 255, 255);
    padding: 2px 3px;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

li.tag-product-hot a {
    border: 1px solid var(--red);
    background: var(--red);
    color: rgb(255, 255, 255);
    padding: 6px 13px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

li.tag-product-sale a {
    border: 1px solid var(--blue);
    background: var(--blue);
    color: rgb(255, 255, 255);
    padding: 2px 3px;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

li.tag-product-out a {
    border: 1px solid var(--dark);
    background: var(--dark);
    color: rgb(255, 255, 255);
    padding: 2px 3px;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

ul.menu-size {
    list-style: none;
    display: flex;
    margin: 10px 0px 22px;
}

ul.menu-size li {
    margin: 0px 33px 0px 0px;
    position: relative;
}

ul.menu-size span {
    position: absolute;
    top: 0px;
    left: -2px;
    border: 1px solid rgb(221, 221, 221);
    padding: 4px 10px;
    background: var(--light);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkest);
    border-radius: 4px;
    cursor: pointer;
}

ul.menu-size .checkbox>input:checked+span {
    background: var(--red);
    color: rgb(255, 255, 255);
}

.products {}

.thumbnail a img {
    margin-bottom: 0.8rem;
}

div#slider-carousel-css .item img {
    width: 100%;
    height: 610px;
    border-radius: 20px;
    object-fit: cover;
}

div#slider-carousel-css .thumbnail img {
    object-fit: cover;
    border-radius: 20px;
}

.img-selected {
    opacity: 0.6;
    border: 1px solid rgb(196, 178, 164);
}

.thumbnail a:last-child img {
    margin-bottom: 0px;
}

.thumbnail .active {
    opacity: 0.5;
}

li.nav-item.info a {
    list-style: none;
    font-family: "Permanent Marker";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 0px;
    border-bottom: 4px solid var(--darkest);
    width: 77px;
}

li.nav-item.info {
    list-style: none;
}

li.nav-item.size-guide a {
    list-style: none;
    font-family: "Permanent Marker";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 0px;
    border-bottom: 4px solid var(--darkest);
    width: 196px;
}

#dropInfo.rotate {
    transform: rotate(180deg);
    color: var(--red);
}

#dropNavInfo.cssColor {
    color: var(--dark);
    border: none;
}

#dropSize.rotate {
    transform: rotate(180deg);
    color: var(--red);
}

#dropNavSize.cssColor {
    color: var(--dark);
    border: none;
}

div#tabSize {
    border: 1px solid rgb(221, 221, 221);
}

.products .tab-pane p {
    font-size: 14px;
    color: rgb(58, 52, 46);
}

.products .nav-link {
    padding: 11px 0px;
    color: rgb(196, 178, 164);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.products .nav-item:last-child {
    cursor: pointer;
    list-style: none;
}

.products .nav-link.active {
    color: var(--darkest);
}

.products .nav-tabs .nav-link {
    border: none;
}

li.nav-item i {
    position: absolute;
    top: 27px;
    right: 0px;
    color: var(--dark);
}

li.nav-item {
    position: relative;
    width: 100%;
}

.products .nav-tabs .nav-link.active {
    border-bottom: 3px solid var(--darkest);
    width: 34%;
    margin-left: -30px;
}

.products table {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.products table td {
    padding: 0.5rem;
    border-bottom: 1px solid rgb(239, 234, 228);
    width: 108px;
}

.products table tr:last-child td {
    border-bottom: 0px;
}

.product-details .title-C61RwL {
    position: relative;
    font-family: "Permanent Marker";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
}

.product-details .label-discount {
    top: 61%;
    left: 42%;
    width: 46px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.product-details .label-discount .product-discount,
.product-details .label-discount .product-new {
    font-size: 14px;
}

.product-details .label-new {
    top: 61%;
    left: 53%;
    width: 46px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.product-details select {
    appearance: none;
    background: url("../img/vector-v.svg") 96% center / 5% no-repeat rgb(255, 255, 255);
    cursor: pointer;
    width: 174px;
    height: 40px;
    color: rgb(196, 178, 164);
    font-size: 14px;
    border-color: rgb(239, 234, 228);
    padding-left: 7px;
    margin-right: 1rem;
}

.product-details select:focus {
    outline: none;
}

.product-details select option {
    border-color: rgb(239, 234, 228);
}

.product-details select option:hover {
    cursor: pointer;
    background: rgb(196, 178, 164);
    color: rgb(255, 255, 255);
}

#amount input {
    outline: none;
    font-size: 14px;
    padding: 0rem;
    border: 0px;
    width: 50px;
    height: 100%;
    text-align: center;
    background: var(--light);
}

#amount span i {
    color: var(--dark);
    cursor: pointer;
    font-size: x-large;
    background: rgb(255, 255, 255);
    border: none;
}

.product-details #amount {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}

#amount #bg-minus {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104.19%;
    width: 57px;
    border: none;
}

#amount #bg-plus {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104.19%;
    width: 57px;
}

.product-details .button-group {
    font-weight: 600;
    font-size: 14px;
}

.product-details .button-group li {
    padding: 0.907rem;
    border: 1px solid rgb(196, 178, 164);
}

.product-details .button-group li a {
    color: rgb(196, 178, 164);
}

.product-details .button-group li a:hover {
    text-decoration: none;
}

.product-details .button-group .btn {
    background: rgb(196, 178, 164);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    margin-left: 24px;
    font-weight: 600;
}

.product-info .social a:hover {
    background: rgb(25, 43, 17);
}

.product-info .social a:hover i {
    color: rgb(255, 255, 255) !important;
}

.detailed-title {
    padding: 1rem 0px;
}

.reviews {
    position: relative;
}

.reviews>h6 {
    color: rgb(58, 52, 46);
    font-family: "Permanent Marker";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.reviews i {
    position: absolute;
    right: 0px;
    top: 35%;
}

ul.reviews-rating {
    margin-left: 0px;
}

.input-group {
    height: 65px;
}

.form-control {
    border-right: 1px solid rgb(255, 255, 255) !important;
}

#reviews-boxx {
    margin-top: 1rem;
    display: none;
}

.form-control {
    border-radius: 0px;
    font-size: 14px;
}

button#reviewInput {
    background: rgb(255, 255, 255);
    color: var(--red);
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
}

button#reviewInput:hover {
    color: rgb(255, 255, 255);
    background: var(--red);
}

#reviews-box input::-webkit-input-placeholder {
    color: rgb(192, 197, 205);
}

#content {
    margin-top: 1rem;
    display: block;
}

.user-img img {
    border-radius: 50%;
}

.user-text h6 a {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkest);
}

.comment p {}

.item-indicate img {
    object-fit: cover;
    border-radius: 10px;
}

.amount-addBy {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.reviews-rating li {
    color: rgb(196, 178, 164);
    width: 13px;
    height: 13px;
}

.detailed-info .btn {
    font-size: 14px;
    background: rgb(196, 178, 164);
    border-radius: 0%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 0.375rem 0.818rem;
}

.detailed-info .btn:active {
    background: rgb(58, 52, 46);
}

.reviews-members .comment-part {
    margin-top: 2rem;
}

.reviews-members .user-img-part {
    position: relative;
    display: flex;
}

.reviews-members .user-img-part .user-text h6 {
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin-bottom: 7px;
}

.reviews-members .fa-star::before {
    font-size: 12px;
}

.reviews-members .user-img-part .user-text {
    margin-left: 1rem;
}

.user-img-part p {
    color: rgb(192, 197, 205);
    position: absolute;
    right: 0px;
    line-height: 39px;
    font-size: 14px;
}

.reviews-members .comment img {
    margin-left: 0px;
    margin-right: 9px;
}

@media screen and (max-width: 576px) {
    .title-C61RwL {
        white-space: normal;
        font-size: 16px !important;
    }
    .formSelect,
    .detailed-info {
        flex-wrap: wrap;
    }
    .product-details .label-new {
        top: 90%;
        left: 9%;
    }
    .product-details .label-discount {
        top: 88%;
        left: 0%;
    }
    .product-details .item-price,
    .formSelect,
    .product-details .button-group {
        margin-top: 0.5rem !important;
    }
}

@media screen and (max-width: 768px) {
    .thumbnail {
        justify-content: space-around;
        margin-top: 0.5rem;
        flex-direction: row !important;
    }
}