.product-item {
    position: relative;
}

ul.social.nav {
    display: block;
    position: absolute;
    top: 0;
    background: #ffffff59;
    width: 92%;
    height: 470px;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
}

ul.social.nav:hover {
    opacity: 1;
    transition: 0.25s;
}

ul.social.nav li:first-child {
    margin: 170px 0px 30px 0px;
}

ul.social.nav li:first-child button {
    color: var(--red);
    border: 1px solid var(--red);
    background: #ffffff;
    transition: 0.25s;
}

ul.social.nav li:last-child button {
    color: #ffffff;
    background: var(--red);
    transition: 0.25s;
}

ul.social.nav li button {
    width: 170px;
    height: 45px;
    font-family: var(--font-family-nunito);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

ul.social.nav li:first-child button:hover {
    color: #ffffff;
    background: #c75959;
    transition: 0.25s;
}

ul.social.nav li:last-child button:hover {
    color: #ffffff;
    border: 1px solid var(--red);
    background: #c75959;
    transition: 0.25s;
}

.product-item .rating {
    display: flex;
    color: var(--red);
    /* margin-top: 10px; */
    list-style: none;
    margin-left: 0px;
    margin-bottom: 5px;
}

.product-item a {
    text-decoration: none;
}

.product-item a h6 {
    styleName: Content/bold;
    font-family: var(--font-family-nunito);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    color: var(--darkest);
    text-decoration: none;
}

.product-item a h6:hover {
    color: var(--red);
}

p.item-price span {
    styleName: Content/bold;
    font-family: var(--font-family-nunito);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #F65E61;
}

p.item-price strike {
    color: #a1a1a1;
    font-family: var(--font-family-nunito);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 7px;
}

p.item-price {
    /* margin-top: 10px; */
    margin-bottom: 0px;
}

.product-item a img {
    height: 470px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    /* margin-top: -6px; */
}

.product-item .tag-product {
    display: flex;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 39px;
}

li.tag-product-new a {
    border: 1px solid var(--yellow);
    background: var(--yellow);
    color: #ffffff;
    padding: 2px 3px;
    font-family: var(--font-family-nunito);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

li.tag-product-hot a {
    border: 1px solid var(--red);
    background: var(--red);
    color: #ffffff;
    padding: 2px 3px;
    styleName: Content/small-bold;
    font-family: var(--font-family-nunito);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

li.tag-product-sale a {
    border: 1px solid var(--blue);
    background: var(--blue);
    color: #ffffff;
    padding: 2px 3px;
    styleName: Content/small-bold;
    font-family: var(--font-family-nunito);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

li.tag-product-out a {
    border: 1px solid var(--dark);
    background: var(--dark);
    color: #ffffff;
    padding: 2px 3px;
    styleName: Content/small-bold;
    font-family: var(--font-family-nunito);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 3px;
    margin-right: 4px;
}

.product-disabled {
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 386px;
    z-index: 99;
}

.product-disabled-prev span {
    border: 1px solid var(--dark);
    background: var(--dark);
    padding: 15px 15px;
    margin-left: -20px;
    color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.product-disabled-prev span:hover {
    background: #616161;
    color: #ffffff;
}

.product-disabled-next span {
    border: 1px solid var(--red);
    background: var(--red);
    padding: 15px 15px;
    margin-right: -20px;
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.product-disabled-next span:hover {
    background: #920000;
}


/* .............................. */

.dropSortby {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 70px;
    color: var(--dark);
    cursor: pointer;
    border: 1px solid #EFEAE4;
}

.dropSortby i {
    position: absolute;
    right: 4%;
    top: 35%;
    color: var(--red);
}

.dropdownCate i,
.dropdownColor i,
.dropdownSize i,
.dropdownMaterials i,
.dropdownPrice i,
.dropdownBrands i,
.dropdownTags i {
    position: absolute;
    right: 0%;
    top: 35%;
}

.colorChange {
    color: #3A342E;
}

.dropSortby .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.dropSortby>p {
    position: relative;
    margin: 0;
    padding: 10px 10px;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

ul.menu-sortby {
    font-size: 14px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 0;
    border-right: 1px solid #EFEAE4;
    border-left: 1px solid #EFEAE4;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

ul.menu-sortby li {
    color: #3A342E;
    line-height: 1.4em;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

ul.menu-sortby li:hover {
    color: #FFF;
    background: var(--red);
}

ul.menu-sortby li:hover>p {
    border: 0;
}

ul.menu-sortby li p {
    line-height: 40px;
    border-bottom: 0.5px solid #EFEAE4;
    margin: 0 0.8rem;
}

ul.menu-sortby li:last-child p {
    border-bottom: 0;
}

ul.menu-sortby li span {
    float: right;
    color: #d2d2d2;
    font-weight: normal;
}

.menu-sortby.showSB {
    height: auto;
    border-bottom: 1px solid #EFEAE4;
}

.dropdownCate {
    margin: 0 auto;
    margin-top: 30px;
    color: #3A342E;
    cursor: pointer;
}

.dropdownCate>p {
    font-size: 14px;
    position: relative;
    font-weight: 600;
    margin: 0;
    padding: 10px 0px;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownCate .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.dropdownTags {
    font-size: 14px;
    padding-top: 15px;
    margin: 0 auto;
    color: #3A342E;
    cursor: pointer;
}

ul.menu-categories {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    border: 1px solid #DFD8D2;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

ul.menu-categories li {
    position: relative;
    display: table;
    border-bottom: 0.5px solid #DFD8D2;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    line-height: 38px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

ul.menu-categories li:last-child {
    border-bottom: 0;
}

.menu-categories.showBrands {
    border-color: white;
    height: 0;
}

.menu-categories .quantity {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 14px;
    color: var(--dark);
    font-weight: normal;
}

ul.menu-categoriess li label {
    font-size: 14px;
    white-space: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: table-cell;
    cursor: pointer;
    position: relative;
    padding: 0.3125rem 0;
}

.menu-categories .checkbox>span {
    color: black;
    padding: 0rem 1rem;
}

.menu-categories .checkbox>input {
    margin-top: 0px;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #EFEAE4;
    border-radius: 2px;
    cursor: pointer;
}

.menu-categories .checkbox>input:checked {
    background-color: #ffffff;
}

.menu-categories .checkbox>input:checked+span::before {
    content: '\1F795';
    display: block;
    text-align: center;
    color: var(--red);
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 21px;
}

.menu-categories .checkbox>input:checked+span {
    color: var(--red);
}

.dropdownTags>p {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownTags .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

ul.menu-tags {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    display: block;
}

ul.menu-tags li {
    margin-right: 0.625rem;
    line-height: 1.4em;
}

ul.menu-tags li:first-child {
    margin-top: 1rem;
}

.shopContent .menu-tags.showTags {
    height: 0;
    padding-top: 0.6rem;
}

ul.menu-tags li {
    position: relative;
    color: #3A342E;
    display: inline-block;
    margin: 10px 0px 5px 0px;
}

ul.menu-tags li label span {
    color: var(--red);
}

ul.menu-tags li label {
    font-size: 14px;
    background-color: var(--light);
    color: var(--darkest);
    /* border: 1px solid var(--red); */
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--font-family-var(--font-family-nunito));
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}

ul.menu-tags li label {
    padding: 6px 9px 6px 9px;
    cursor: pointer;
    border-radius: 4px;
}

ul.menu-tags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "";
    transition: transform .3s ease-in-out;
}

ul.menu-tags li input[type="checkbox"]:checked+label {
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #ffffff;
    transition: all .2s;
}

ul.menu-tags li input[type="checkbox"] {
    display: absolute;
}

ul.menu-tags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.dropdownColor {
    padding-top: 15px;
    font-size: 14px;
    margin: 0 auto;
    color: #3A342E;
    cursor: pointer;
}

.dropdownColor>p {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownColor .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.dropdownSize {
    padding-top: 15px;
    font-size: 14px;
    margin: 0 auto;
    color: #3A342E;
    cursor: pointer;
}

.dropdownSize>p {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownSize .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}


/* ul.menu-color {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    border: 1px solid #DFD8D2;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

ul.menu-color li {
    position: relative;
    display: table;
    border-bottom: 0.5px solid #DFD8D2;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

ul.menu-color li:last-child {
    border-bottom: 0;
}

.menu-color.showColor {
    border-color: white;
    height: 0;
}

.menu-color .quantity {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 14px;
    color: var(--red);
    font-weight: normal;
}

ul.menu-color li label {
    font-size: 14px;
    white-space: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: table-cell;
    cursor: pointer;
    position: relative;
    padding: 0.3125rem 0;
}

.menu-color .checkbox>span {
    color: black;
    padding: 0rem 1rem;
}

.menu-color .checkbox>input {
    margin-top: 0.3rem;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #EFEAE4;
    border-radius: 2px;
    cursor: pointer;
}

.menu-color .checkbox>input:checked {
    background-color: var(--red);
}

.menu-color .checkbox>input:checked+span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #FFF;
    position: absolute;
    left: 0.2rem;
    top: 0.5rem;
} */

ul.menu-color {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

ul.menu-color li {
    position: relative;
    margin: 13px 18px 17px 12px;
    right: 51px;
}

ul.menu-color span {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 38px;
    z-index: 99;
    cursor: pointer;
    top: -6px;
}

.menu-color .checkbox>input:checked+span::before {
    content: '';
    display: block;
    text-align: center;
    color: var(--red);
    position: absolute;
    left: -3.5px;
    top: -3.1px;
    font-size: 21px;
    border: 1px solid var(--red);
    height: 37px;
    border-radius: 50%;
    width: 37px;
}


/* End color */


/* ...........size.........*/

ul.menu-size {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul.menu-size li {
    margin: 10px 33px 28px 0px;
    position: relative;
    /* border-radius: 4px; */
}

ul.menu-size span {
    position: absolute;
    top: 0;
    left: -2px;
    border: 1px solid #ddd;
    padding: 4px 10px;
    background: var(--light);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkest);
    border-radius: 4px;
    cursor: pointer;
}

ul.menu-size .checkbox>input:checked+span {
    background: var(--red);
    color: #ffffff;
}


/* Brands */

.dropdownBrands {
    font-size: 14px;
    margin: 0 auto;
    color: #3A342E;
    cursor: pointer;
    padding-top: 15px;
}

.dropdownBrands>p {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownBrands .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

ul.menu-brands {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    border: 1px solid #DFD8D2;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

ul.menu-brands li {
    position: relative;
    display: table;
    border-bottom: 0.5px solid #DFD8D2;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    line-height: 35px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

ul.menu-brands li:last-child {
    border-bottom: 0;
}

.menu-brands.showBrands {
    border-color: white;
    height: 0;
}

.menu-brands .quantity {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 14px;
    color: var(--dark);
    font-weight: normal;
}

ul.menu-brands li label {
    font-size: 14px;
    white-space: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: table-cell;
    cursor: pointer;
    position: relative;
    padding: 0.3125rem 0;
}

.menu-brands .checkbox>span {
    color: black;
    padding: 0rem 1rem;
}

.menu-brands .checkbox>input {
    margin-top: 0px;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #EFEAE4;
    border-radius: 2px;
    cursor: pointer;
}

.menu-brands .checkbox>input:checked {
    background-color: #ffffff;
}

.menu-brands .checkbox>input:checked+span::before {
    content: '\1F795';
    display: block;
    text-align: center;
    color: var(--red);
    position: absolute;
    left: -0.1rem;
    top: 0.35rem;
    font-size: 21px;
}

.menu-brands .checkbox>input:checked+span {
    color: var(--red);
}


/* End Brands */


/* Price */

.dropdownPrice {
    font-size: 14px;
    margin: 0 auto;
    color: #333333;
    cursor: pointer;
    padding-top: 15px;
}

.dropdownPrice>p {
    position: relative;
    margin: 0;
    padding: 10px 0px;
    font-weight: 600;
    line-height: 1.45em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.dropdownPrice .rotate {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.menu-price {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 100px;
    border-top: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.showPrice {
    height: 0;
}

.filter-range-wrap .price-range {
    border-radius: 0;
}

.filter-range-wrap .price-range.ui-widget-content {
    border: none;
    background: var(--dark);
    height: 3px;
}

.filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid var(--red);
    outline: none;
    margin-left: 0em;
    cursor: pointer;
}

span.ui-slider-handle-min {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid var(--dark);
    outline: none;
    margin-left: 0em;
    cursor: pointer;
    position: absolute;
    top: -6px;
}

.filter-range-wrap .price-range .ui-slider-range {
    background-color: var(--red);
    border-radius: 0;
}

.filter-range-wrap.price-range.ui-slider-range.ui-corner-all.ui-widget-header:last-child {
    background: #E6E3DE;
}

.filter-range-wrap #minamount {
    font-size: 16px;
    color: var(--red);
    width: 64px;
    left: -26px;
    text-align: center;
    background: none;
    border: none;
    top: 16px;
    border-radius: 2px;
}

#min {
    font-size: 16px;
    color: #000;
    width: 64px;
    left: -25px;
    text-align: center;
    background: none;
    border: none;
    top: 12px;
    border-radius: 2px;
}

.filter-range-wrap #maxamount {
    font-size: 16px;
    color: var(--red);
    top: 16px;
    width: 64px;
    position: absolute;
    background: none;
    left: -35px;
    text-align: center;
    border: none;
    border-radius: 2px;
}


/* End Price */

.shopContent .sidebar .btn {
    padding: 0.532rem 1.75rem;
    border-radius: 0;
    background-color: var(--red);
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

.shopContent .social li a:hover {
    background: var(--red);
}

.shopContent .social li a:hover i {
    color: #FFF !important;
}

.searching>span {
    color: #FFFFFF;
    font-size: 14px;
    padding: 0.157rem 0.1rem 0.157rem 0.58rem;
    background: var(--red);
    margin-right: 13px;
    cursor: pointer;
}

.searching span .del {
    background: var(--red);
    color: #FFFFFF;
    border-radius: 0;
    border: 0;
    padding: 0.05rem 0rem 0.05rem 0.2rem;
}

.searching span .del:hover {
    cursor: pointer;
}

.btn-load {
    color: var(--red);
    background: #FFFFFF;
    border-radius: 4;
    font-size: 14px;
    font-weight: 600;
    padding: 0.844rem 2.6rem;
    border: 1px solid var(--red);
}

.btn-load:hover {
    background: var(--red);
    color: #FFFFFF;
    transition: all 0.25s;
}

@media screen and (min-width:375px) {
    .searching {
        display: grid;
        grid-template-columns: 200px
    }
    .searching .del {
        float: right;
    }
}

@media screen and (min-width:768px) {
    .searching {
        grid-template-columns: 200px 200px
    }
}

@media screen and (min-width:992px) {
    .searching {
        display: block;
    }
    .searching .del {
        float: none;
    }
}