@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Poppins:400,600italic,700,300,500,600");
:root {
    --black: #000000;
    --bon-jour: #e0e0e0;
    --cam: #b55e36;
    --gold: #b99f78;
    --gray-nurse: #e9eaeb;
    --hint-of-red: #f9f9f9;
    --loblolly: #c0c5cd;
    --mine-shaft: #333333;
    --nhat: #585858;
    --quill-gray: #d2d2d2;
    --white: #ffffff;
    --wild-sand: #f4f4f4;
    --x2: #e7e7e7;
    --xanh: #20313b;
    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 12px;
    --font-size-xl: 25px;
    --font-size-xxl: 30px;
    --font-size-xxxl: 50px;
    --font-size-xxxxl: 90px;
    --font-family-playfair_display: "Playfair Display", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
}

.poppins---12px {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.poppins-16px {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
}

.poppins-18px {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0px;
}

.poppins-normal-ebony-clay-16px {
    color: var(--xanh);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.poppins-normal-mongoose-16px {
    color: var(--gold);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.poppins-normal-white-16px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.poppins-normal-chicago-16px {
    color: var(--nhat);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.playfairdisplay-bold-ebony-clay-18px {
    color: var(--xanh);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.playfairdisplay-bold-ebony-clay-50px {
    color: var(--xanh);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
}

.playfairdisplay-bold-white-30px {
    color: var(--white);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
}

.poppins-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.playfairdisplay-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.poppins-normal-bon-jour-16px {
    color: var(--bon-jour);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.playfairdisplay-bold-ebony-clay-25px {
    color: var(--xanh);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
}

.playfairdisplay-bold-ebony-clay-30px {
    color: var(--xanh);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
}

.poppins-normal-white-16px-2 {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.playfairdisplay-bold-white-50px {
    color: var(--white);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
}

.poppins-medium-ebony-clay-18px {
    color: var(--xanh);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
}

.playfairdisplay-bold-ebony-clay-90px {
    color: var(--xanh);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 700;
}

.poppins-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
}

.playfairdisplay-bold-ebony-clay-16px {
    color: var(--xanh);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.border-1px-white {
    border: 1px solid var(--white);
}

.border-1px-x2 {
    border: 1px solid var(--x2);
}

.border-1px-quill-gray {
    border: 1px solid var(--quill-gray);
}

.border-1px-gold {
    border: 1px solid var(--gold);
}